
[submodule "lib/pmem-rocksdb"]
	path = lib/pmem-rocksdb
	url = git@github.com:Junkrat77/pmem-rocksdb.git
	branch = developing
[submodule "lib/ROART"]
	path = lib/ROART
	url = git@github.com:Junkrat77/ROART.git
	branch = developing
